---
layout: default
title: RocksmithToTab
---

<div class="content">
  <h1>Rocksmith 2014 Tab Converter</h1>
  <p>Exports Rocksmith 2014 arrangements to Guitar Pro tabs (.gp5, .gpx). It parses Rocksmith's .psarc archives and converts any songs found within to tablature. All the Rocksmith techniques are supported and translated, and you get all of the chord diagrams and fingering hints that Rocksmith shows you. It's a great way to figure out specific parts of a song, and Guitar Pro's speed trainer is a very good alternative to the riff repeater. All arrangement types (bass, lead, rhythm) can be exported, either together in a single tab or into separate tabs.</p>
  <p>The current version is v{{ site.version }}. You can download it at <a href="https://sourceforge.net/projects/rocksmithtotab/files/Releases/">SourceForge</a>. For installation and usage instructions, please refer to the <a href="/documentation/">documentation</a>.
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>